<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Not found <span>:(</span></h1>
      <p>Sorry, but the page you were trying to view does not exist.</p>
      <p>It looks like this was the result of either:</p>
      <ul>
        <strong class="redAlert">
          <li>You're Not Authorized</li>
        </strong>
        <strong class="redAlert">
          <li>Wrong Acces Data
        </strong>
      </ul>
      <hr />
      <a routerLink="/" class="waves-effect waves-light btn blue darken-1" mz-button>Go Home</a>
    </div>
  </div>
</div>