.home{
  background: url("/assets/images/background.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  position: fixed;    
}

.container{
  padding-top: 10%;
}

.title{
  font-weight: 700;
  text-shadow: 4px 4px 2px rgb(109, 109, 109);        
}

.subtitle{
  color: rgb(67, 221, 200) !important;
  font-weight: bolder;
  text-shadow: 4px 4px 2px rgb(68, 62, 62);    
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .home {
    left: 50%;
    margin-left: -50%;   /* 50% */
  }
}